@*@GeneratedCode*@
@model QTMusicStore.AspMvc.Models.App.Track

<div class="row">
 <div class="col-md-4">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <input asp-for="Id" type="hidden" />
  <div class="form-group">
   <label asp-for="AlbumId" class="control-label"></label>
   <input asp-for="AlbumId" class="form-control"  />
   <span asp-validation-for="AlbumId" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="GenerId" class="control-label"></label>
   <input asp-for="GenerId" class="form-control"  />
   <span asp-validation-for="GenerId" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="Title" class="control-label"></label>
   <input asp-for="Title" class="form-control"  />
   <span asp-validation-for="Title" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="Composer" class="control-label"></label>
   <input asp-for="Composer" class="form-control"  />
   <span asp-validation-for="Composer" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="Millisconds" class="control-label"></label>
   <input asp-for="Millisconds" class="form-control"  />
   <span asp-validation-for="Millisconds" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="Bytes" class="control-label"></label>
   <input asp-for="Bytes" class="form-control"  />
   <span asp-validation-for="Bytes" class="text-danger"></span>
  </div>
  <div class="form-group">
   <label asp-for="UnitPrice" class="control-label"></label>
   <input asp-for="UnitPrice" class="form-control"  />
   <span asp-validation-for="UnitPrice" class="text-danger"></span>
  </div>
 </div>
</div>
