@*@CustomCode*@
@model IEnumerable<QTMusicStore.AspMvc.Models.App.Track>
@{
    var orderBy = (string)ViewBag.OrderBy ?? string.Empty;
}
<thead>
    <tr>
        <th>
            Album
        </th>
        <th>
            Genre
        </th>
        <th>
            @if (orderBy.StartsWith("Title") && orderBy.EndsWith("ASC"))
            {
                <a asp-action="OrderBy" asp-route-orderBy="Title DESC" class="btn btn-outline"><strong>Title</strong> <i class="fa fa-sort-desc"></i></a>
            }
            else if (orderBy.StartsWith("Title") && orderBy.EndsWith("DESC"))
            {
                <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Title</strong> <i class="fa fa-sort-asc"></i></a>
            }
            else
            {
                <a asp-action="OrderBy" asp-route-orderBy="Title ASC" class="btn btn-outline"><strong>Title</strong></a>
            }
        </th>
        <th>
            @if (orderBy.StartsWith("Millisconds") && orderBy.EndsWith("ASC"))
            {
                <a asp-action="OrderBy" asp-route-orderBy="Millisconds DESC" class="btn btn-outline"><strong>Millisconds</strong> <i class="fa fa-sort-desc"></i></a>
            }
            else if (orderBy.StartsWith("Millisconds") && orderBy.EndsWith("DESC"))
            {
                <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Millisconds</strong> <i class="fa fa-sort-asc"></i></a>
            }
            else
            {
                <a asp-action="OrderBy" asp-route-orderBy="Millisconds ASC" class="btn btn-outline"><strong>Millisconds</strong></a>
            }
        </th>
        <th>
            @if (orderBy.StartsWith("Bytes") && orderBy.EndsWith("ASC"))
            {
                <a asp-action="OrderBy" asp-route-orderBy="Bytes DESC" class="btn btn-outline"><strong>Bytes</strong> <i class="fa fa-sort-desc"></i></a>
            }
            else if (orderBy.StartsWith("Bytes") && orderBy.EndsWith("DESC"))
            {
                <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>Bytes</strong> <i class="fa fa-sort-asc"></i></a>
            }
            else
            {
                <a asp-action="OrderBy" asp-route-orderBy="Bytes ASC" class="btn btn-outline"><strong>Bytes</strong></a>
            }
        </th>
        <th>
            @if (orderBy.StartsWith("UnitPrice") && orderBy.EndsWith("ASC"))
            {
                <a asp-action="OrderBy" asp-route-orderBy="UnitPrice DESC" class="btn btn-outline"><strong>UnitPrice</strong> <i class="fa fa-sort-desc"></i></a>
            }
            else if (orderBy.StartsWith("UnitPrice") && orderBy.EndsWith("DESC"))
            {
                <a asp-action="OrderBy" asp-route-orderBy="" class="btn btn-outline"><strong>UnitPrice</strong> <i class="fa fa-sort-asc"></i></a>
            }
            else
            {
                <a asp-action="OrderBy" asp-route-orderBy="UnitPrice ASC" class="btn btn-outline"><strong>UnitPrice</strong></a>
            }
        </th>
        <th></th>
    </tr>
</thead>
